<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>index</title>
  </head>
  <body>
    환영 <p  th:text="#{home.welcome}"></p>
   
   ${#messages.msg('home.welcome')} ==> [[ ${#messages.msg('home.welcome')} ]]  <br>
                          환영 <p  th:text="${#messages.msg('home.welcome')}"></p> 
   
  == [[${locale}]] ==  attribute에 add되어 있는 locale 의 값을 출력해 <br>
  == [[${#locale}]] == pageContext 내장되어 있는 명령(인스턴스)중에 locale이라는 인스턴스가 갖고 있는 값을 출력 <br>
   == [[${#ctx.locale}]] == ctx 는 pageContext라는 의미로 전달 , ctx라는 내장된 명령어의 키또는 속성의 값이 locale인 것의 값을 출력해 <br>
  ${session.isEmpty()} =  [[${session.isEmpty()}]]  ${session.attribute의 이름 메소드명 }  session른 내장명령어<br>
  
  ${#request.getAttribute('foo')} ==  [[${#request.getAttribute('foo')}]]
  <br>

  ${foo}  == [[${foo}]]
    <br>
  
  ${attribute에add되어 있는 객체} , #{메세지의키}, @{경로} . ${#내장명령어 }
   
	<br>
	<!-- cast 예)
	long a = 1212121;
	int  b = (int)a;
	
	  
	Object obj = new Date();
	Date obj2 = (Date)obj ; -->
	  
	  
	<!--  convert 문자로들어오는 수치모양 ==>  더블 , 정수화  
	  --> 
	  
	  <br>  th:if  사용 <br>
	 ${bean.isActive} == [[${bean.isActive}]] <br>
	   ${member.isActive()} == [[${member.isActive}]] <br>
	 ${member.isActive()} == [[${member.isActive()}]] <br>
	  <div th:if="${member.isActive}">
	  	<input type="text">
	  </div>
	  
	  <br>
	  <div th:if="true">
	  	<input type="text">
	  </div>
	  
	   <br>
	   	<div th:if="false">
	   	dfdfdkjfkdjf
	  	<input type="text">
	  </div>
	   11111
	  <div th:if="${member.isActive()} == false">
	  	<input type="text">
	  </div>
	  <br>
	  <div th:if="${not  member.isActive}">
	  dkjfdsjdskjds
	  	<input type="text">
	  </div>
	  <div th:unless="${!  member.isActive()}">
	  th:unless
	  	<input type="text">
	  </div>
  </body>
</html>





















