<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>로그인 성공</title>
</head>
<body>
	<h1>로그인 성공!!</h1>
	<hr>
	<p>
		<span sec:authentication="name"></span>님 환영합니다~
	</p>
	<a th:href="@{'/'}">메인으로 이동</a>

	<h1>Current Member Id</h1>
	<p th:text="${currentMemberId}"></p>
	<h1>Members</h1>
	<table>
		<tr th:each="member : ${members}">
			<td th:text="${member.getMemberId()}"></td>
			<td th:text="${member.getAge()}"></td>
			<td th:text="${member.getIsMarried()}"></td>
		</tr>
	</table>

</body>
</html>